<!DOCTYPE html>
<html>
    <body>
        
<h1 style="color:blue ;">Login</h1>
        <form method="get">
            <table>
                <tr>
                    <td> <label for="email">Email</label></td>
                    <td><input type="text" name="email" id="email" size="30px"></td>
                </tr>
            <tr>
                <td> <label for="password">Password</label></td>
                <td><input type="password" name="password" id="password" size="30px"></td>
            </tr>
    
    </table>
           <br>
           <button type="submit" routerLink="/about" routerLinkActivate="active">Login</button>

        </form>
    </body>
</html>
